<div class="container text-center mt-5">
  <p>
    Window width: <strong>{{ getScreenWidth }}</strong>
  </p>
  <p>
    Window height: <strong>{{ getScreenHeight }}</strong>
  </p>
</div>

<app-child-component></app-child-component>
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>`

<p #nameText>{{ name }}</p>
<p>{{ nameText.textContent }}</p>
<button (click)="change()">Изменить</button>

<div>ContentChild</div>
<app-child-component>
  <h3 #headerContent>Добро пожаловать {{ name }}!</h3>
</app-child-component>

<ng-content></ng-content>
<button (click)="change()">Изменить</button>

<h2>User directive</h2>

<div>
  <p appBold selectedSize="28px" defaultSize="14px">Hello Angular</p>
  <p>Angular представляет модульную архитектуру приложения</p>
</div>

<h2>Switch case</h2>
<div [ngSwitch]="count">
  <ng-template ngSwitchCase="1">{{ count * 10 }}</ng-template>
  <ng-template ngSwitchCase="2">{{ count * 100 }}</ng-template>
  <ng-template ngSwitchDefault>{{ count * 1000 }}</ng-template>
</div>

<h2>Структурные директивы</h2>
<p *appWhile="condition">Первый параграф</p>
<p *appWhile="!condition">Второй параграф</p>
<button (click)="toggle()">Toggle</button>
